.twitter-tweet {
  max-width: 550px;
  margin: 0 auto 35px;
  margin-bottom: 35px;
  overflow: auto;

  pre {
    padding-top: 2.5em !important;
    padding-bottom: 2.5em !important;
    padding-left: 5em !important;
    padding-right: 5em !important;
    border-radius: 5px !important;
  }
}
